h1{
    padding-left: 10px;
    color: white;
    background-color: black;
}
ol li,a{
    text-decoration: none;
    font-size:xx-large;
    font-weight: bold;
    font-family: monospace;
}
a{
    color: red;
}
a:visited{
    color: blue;
}
img{
    width: 550px;
    height: 330px;
}
div{
    background-color: paleturquoise;
    padding: 10px;
}