div{
    border: 2px solid #999;
    background-color: thistle;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
}
.cls1{
    border: 2px solid #999;
    font-weight: bold;
    background-color: paleturquoise;
}
.f1 li{
    color: orangered;
}
.v1 li{
    color: green;
}
ul li{
    padding-left: 5px;
}