* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    box-sizing: border-box;
}

.cls1 {
    text-align: center;
    margin: 15px;
}

.cls2 {
    -webkit-text-stroke: 0.5px red;
    color: white;
    background-color: yellow;
}

h4 {
    color: blue;
}

.bstyle {
    color: yellow;
    background-color: black;
    text-indent: 55px;
    margin: 5px;
    padding: 4px;
}

span {
    display: block;
}