div{
    margin-top: 25px;
    text-align: center;
    border: 2px solid #999;
    background-color: thistle;
    font-size: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}