div{
    border: 2px solid #999;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
}
.cls1{
    font-weight: bold;
    border: 2px solid #999;
    background-color: paleturquoise;
}
.cls2{
    border: 2px solid #999;
    background-color: thistle;
}
li{
    background-color: orange;
    padding-left: 5px;
}